{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de categorias</h1>

    <a href="{{ path('category_new') }}" class="btn btn-primary">Nueva Categoria</a>
    <table class="table" id="table_categories">
        <thead>
            <tr>
                <th class="sortStyle">ID</th>
                <th class="sortStyle">Codigo</th>
                <th class="sortStyle">Nambre</th>
                <th class="sortStyle">Descripción</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.code }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{% if category.active %}Si{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-block btn-info">Editar</a>

                    {% if category.active %}
                        <a href="{{ path('category_unActive', { 'id': category.id }) }}" class="btn btn-block btn-danger">Desactivar</a>
                    {% else %}
                        <a href="{{ path('category_active', { 'id': category.id }) }}" class="btn btn-block btn-success">Activar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script >
        $(document).ready(function () {
            $("#table_categories").tablesort();
        });
    </script>
{% endblock %}
