{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de productos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('productos_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productos_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
